header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1.5px solid var(--color-line);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-lg);
}

header span{
    margin-top: 2px;
    letter-spacing: 0.1rem;
}

header svg{
    width: 25px;
}