header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-bottom: 1.5px solid var(--color-border);
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-lg);
}

header span{
    margin-top: 2px;
    letter-spacing: 0.1rem;
}

header img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

header svg{
    width: 25px;
}