* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    scroll-padding-top: var(--header-height);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Asegura que quede por encima del contenido */
  background-color: #ffffff; /* Evita que el contenido de fondo se traslape */
}

hr{
    border: none;           
    height: 1px;              
    background-color: var(--color-line);  
    width: 30%;                
    margin: 20px auto; 
}

section {
    padding: 10px;
    height: 100vh;
}

svg {
    width: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container span{
    color: var(--color-text-light);
}

.jump{
    width: 60%;
}

.section-title{
    margin-top: 3rem;
}