* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

fieldset {
    all: unset;
}

hr {
    border: none;           
    height: 1px;              
    background-color: var(--color-line);  
    width: 30%;                
    margin: 20px auto; 
}

section {
    padding: 3rem 1rem; /* Crea un espacio uniforme de separación arriba y abajo */
    width: 100%;
    box-sizing: border-box;
}

.img_svg {
    width: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container span{
    color: var(--color-text-light);
}

.section-title{
    margin-top: 3rem;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}