a {
    color: var(--color-text);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

button{
    all: unset;
    width: 250px;    
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.button-header {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 1.25rem;        
}

.button-classic {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 0.5rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-classic:hover{
    transform: translateY(-5px);

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}